<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width， initial-scale=1， shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Macks Coin</title>

	<link rel="shortcut icon" href="img/macksCoin.png" />


</head>

<body style="
	min-height: 100vh;
	color:#34495e;
	background-color:#17202a;
	padding: 20px;
">

  <!-- 介紹 -->
  <header class="bg-light py-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-baseline">
          <p class="text-black-50 mb-5">
<br><br>
<div style="text-align:left;">
<strong>
	<div style="text-align:center;">
		<div style="
		display: flex;
		justify-content: center;
		align-items: center;
		">
			<div>

				<input height="220px" width="220px" type="image" class="btn btn-primary btn-lg" src="img/MacksCoin.png" style="display:block;
				border-radius: 100%;
				width: 220px;
				height: 220px;
				background-image: linear-gradient(#34495e, #34495e);
				background-blend-mode: lighten;
				background-size: cover;
				"/>

			</div>
		</div>
		<br>
		<a href="https://etherscan.io/token/0x136f90139768f0ca96baf23c3610a7a218a7d376"><h2 class="mb-4">$MACKS</h2></a>
	</div>

<h1 class="mb-4" style="padding: 5%;">According to old rumors, Macks Coin may have become the currency of choice in federal prisons since the 2004 smoking ban. It's a meme coin designed to anonymously mock a white guy with an afro hairstyle(that looks like a microphone) who gets rich through cryptocurrencies but only spends his wealth on drugs and partying instead of doing anything for world peace. Regardless, he ended up in jail on multiple counts of digital currency financial fraud. Macks Coin’s mission is: to create a world without war.</h1>

<div style="text-align:center;">
	<button style="
		font-size:25px;
		color:white;
		background-color:#17202a;
		border-color:white;
		border-style:solid;
		border-width:3px;
    border-radius:10px;
		height:50px;
	 	width: 200px
		" onclick="window.location.href='https://app.uniswap.org/tokens/ethereum/0x136f90139768f0ca96baf23c3610a7a218a7d376';"><strong>buy now</strong></button>
</div>
<div style="color:white;text-align:center;padding:10px;"><h10>Uniswap (MACKS/USDT)</h10></div>

<br>
<div style="text-align:right;">
	<a href="https://twitter.com/mackscoineth">
 	<input height="50px" width="50px" type="image" src="img/twitter.png" style="
 	border-radius: 100%;
 	width: 50px;
 	height: 50px;
 	background-image: linear-gradient(#34495e,#34495e);
 	background-blend-mode: lighten;
 	background-size: cover;
 	"/></a>
	&nbsp;
	<a href="https://t.me/mackscoin">
 	<input height="50px" width="50px" type="image" src="img/tel_logo.png" style="
 	border-radius: 100%;
 	width: 50px;
 	height: 50px;
 	background-image: linear-gradient(#34495e,#34495e);
 	background-blend-mode: lighten;
 	background-size: cover;
 	"/></a>
	&nbsp;
	<a href="https://etherscan.io/token/0x136f90139768f0ca96baf23c3610a7a218a7d376">
 	<input height="50px" width="50px" type="image" src="img/eth_logo.png" style="
 	border-radius: 100%;
 	width: 50px;
 	height: 50px;
 	background-image: linear-gradient(#34495e,#34495e);
 	background-blend-mode: lighten;
 	background-size: cover;
 	"/></a>
	&nbsp;
	<a href="https://coinmarketcap.com/dexscan/ethereum/0xd41176e6d7c322385f99016da7a39df97fd2ac00/">
 	<input height="50px" width="50px" type="image" src="img/coinmarketcap_logo.png" style="
 	border-radius: 100%;
 	width: 50px;
 	height: 50px;
 	background-image: linear-gradient(#34495e,#34495e);
 	background-blend-mode: lighten;
 	background-size: cover;
 	"/></a>
	&nbsp;

</div>
<br>
<h1>Abstract:</h1>
<br>
<h2>MACKS, the Galactic Giggle Token, aspires to be the self-proclaimed master of absurdity in the ERC-20 token space. This strange and fantastical white paper delves into the cosmic absurdity of MACKS, revealing an ever-expanding universe of ridiculous features, completely insane token economics, and an audacious mission to spread laughter, love, and peace across the Ethereum galaxy— — Because who needs serious tokens when you can own real tokens? Interstellar hilarity? The first rule of MACKS: You never sell MACKS.</h2>
<br>
<h1>1. Introduction:</h1>
<br>
<h2>Embark on a journey of cosmic laughter with MACKS, an ERC-20 token that is more than just a token, it is a transmitter to a galaxy of laughter, love, and peace on the Ethereum blockchain. While traditional cryptocurrencies have their sights set on the moon, MACKS has their sights set on a nebula of ridiculous fun.</h2>
<br>
<h1>2. Token specifications:</h1>
<br>
<h2>Token name: Macks Coin</h2>
<h2>Symbol: MACKS</h2>
<h2>Decimal: 18</h2>
<h2>Standard: ERC-20</h2>
<br>
<h1>3. Token Economics:</h1>
<br>
<h2>Behold the cosmic dance of MACKS's tokenomics:</h2>
<br>
<h2>MACKS’s token economics are simple, reflecting its commitment to simplicity and fun:</h2>
<br>
<h2>Total supply: 1,000,000,000,000,000 MACKS(because why settle for anything less than a quadrillion laughs?)</h2>
<br>
<h2>distribute:</h2>
<h2>Initial Token Sale: 0.0001% (You can't put a price on laughter, but if you could, it'd be practically free!)</h2>
<h2>Liquidity pool: 0.0001%(Ensuring a steady flow of liquidity to keep the laughter oceans rolling)</h2>
<h2>Community Development: 10%(A plan to help war orphans receive protection)</h2>
<h2>Team and consultants: 10%(Even prison inmate need a few MACKSs to keep the laughter engines running)</h2>
<br>
<h2>Utilities:</h2>
<h2>MACKS facilitates participation in intergalactic joke-a-thons, meme marathons, and whimsical wonders.</h2>
<h2>It doesn't grant you a starship, but it sure makes the journey a lot more entertaining.</h2>
<h2>Support various expenses incurred during the adoption process of war orphans.</h2>
<br>
<h1>4. Use cases:</h1>
<br>
<h2>MACKS, the Cosmic Giggle Coin, in all its joyous glory includes love and peace:</h2>
<br>
<h2>Telepathic Tip Bot: Users can telepathically tip each other with MACKS on social media platforms, ensuring laughter transcends language barriers.</h2>
<h2>Meme-astral Contests: MACKS can be used to enter meme-astral contests, where creativity defies gravity and community engagement reaches cosmic proportions.</h2>
<h2>Virtual Galaxy Goodies Exchange: Users can exchange MACKS for virtual galaxy goodies within the MACKS ecosystem, from virtual anti-gravity shoes to cosmic clown wigs.</h2>
<h2>War Orphan Project: Fund or establish a volunteer team to help war orphans relocate to a place where they can receive good care.</h2>
<br>
<h1>5. Community involvement:</h1>
<br>
<h2>Join the laughter crusade with MACKS's cosmic community initiatives:</h2>
<br>
<h2>Regular meme-astral contests with MACKS raining from the comedy cosmos.</h2>
<h2>Community voting on MACKS-themed events, because democracy is even funnier in space.</h2>
<h2>Open lines of communication to get feedback, suggestions and share your best ideas to support war orphans.</h2>
<br>
<h1>6. Conclusion:</h1>
<br>
<h2>MACKS, the Cosmic Giggle Coin, transcends the ordinary and invites you to soar among the silly stars of the Ethereum galaxy. Dedicated to interstellar entertainment and laughter, love and peace, MACKS is more than a token; it is a journey to an unknown realm of joy. Get ready to enter a world of joy, every MACKS is a ticket to the ultimate laugh-out-loud experience of love and peace! 🚀🌌😂</h2>
<br>
<h1>7. White paper:</h1>
<br>
<h2><a href="https://worldoftulpa.link/macksCoin.whitePaper">white paper</a></h2>
<br>
<h1>8. Contact us:</h1>
<br>
<h2>mackscoin@gmail.com</h2>

</strong>
</div>

					</p>
        </div>
      </div>
    </div>
  </header>


  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted" style="text-align:right;">
					© 2023 by MACKS. All rights reserved!
			</div>
    </div>
  </footer>


</body>

</html>

<script type="text/javascript">




</script>
