<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MACKS White paper</title>

	<link rel="shortcut icon" href="img/macksCoin.png" />


</head>

<body id="page-top"  style="
	min-height: 100vh;
	color:#34495e;
	background-color:#17202a;
	padding: 20px;
">

<h1>MACKS COIN WHITEPAPER</h1>
<br>
<h2>MACKS TOKENOMICS</h2>
<br>
<h3>MACKS is a digital token compatible with the ERC-20 token standard. MACKS has no functions, no utility and no intrinsic value, no promise or expectation of any financial return, profit, interest or dividend.

There is no roadmap and there is no promise or expectation that any ecosystem will even be developed for MACKS.

MACKS is completely useless and for entertainment purposes only.

For the avoidance of doubt, and without limiting the generality of the above, MACKS is not, and is not intended to:</h3>
<br>
<h4>be designed or intended to be used by any person as payment for any goods or services;</h4>
<h4>entitle holders to exchange MACKS for goods or services;</h4>
<h4>be a representation of money (including e-money);</h4>
<h4>be a digital representation of a capital markets product, security, share, debenture, unit in a collective investment scheme, derivatives contract, commodity or any other kind of financial instrument or investment in any jurisdiction;</h4>
<h4>be a capital markets product, security, share, debenture, unit in a collective investment scheme, derivatives contract, commodity or any other kind of financial instrument or investment in any jurisdiction;</h4>
<h4>represent any entitlement to fees, dividends, revenue, profits or investment returns;</h4>
<h4>represent any rights under a contract for differences or under any other contract the purpose or purported purpose of which is to secure a profit or avoid a loss;</h4>
<h4>be refundable or exchangeable for cash (or its equivalent value in any other digital asset); and/or</h4>
<h4>represent any indebtedness.</h4>
<br>
<h4>There is no guarantee and no commitment to list MACKS on any exchange.</h4>
<br>
<h2>DISCLAIMERS</h2>
<h4>This white paper ("White Paper") and website are for general information purposes only and do not constitute a prospectus, offer document, offer of securities, capital markets products, digital payment tokens, investment solicitation, or any sale of any product, instrument or asset (whether digital assets or other assets). The information in this article may not be exhaustive and does not imply any element of a contractual relationship. The accuracy or completeness of such information is not guaranteed and no representation, warranty or undertaking is given as to the accuracy or completeness of such information.

Nothing contained in the White Paper or the Website constitutes an offer by any company to sell any MACKS nor is it or any part thereof or the facts presented thereon to be relied upon or relied upon in connection with any contract or investment decision.

Nothing contained in the White Paper or the Website is or may be deemed to be a promise, representation or commitment as to the future performance of any group.

The information listed in the white paper and website is for community discussion only and is not legally binding. No one is obligated to enter into any contract or binding legal commitment in connection with acquiring or receiving MACKS and may not accept any digital assets or other form of payment under the White Paper or the Website. MACKS's agreement to distribute and/or continue to hold MACKS shall be governed by a separate set of terms and conditions setting out the terms of such distribution and/or continued holding of MACKS, which terms and conditions shall be provided to you separately or on the Website provided on. Build a website at the right time.

No regulatory authority has formally or informally reviewed or approved any information listed in the White Paper or website. No such action or warranty has been or will be taken under the laws, regulatory requirements or rules of any jurisdiction. The publication, dissemination or dissemination of the White Paper or the Website does not imply compliance with applicable laws, regulatory requirements or rules.<h4>

<h2>NO FURTHER INFORMATION OR UPDATE</h2>
<h3>The information in this white paper is only as of the version of the document stated on the cover of this white paper. Information regarding any token sales, MACKS functionality, information regarding business operations, and future plans may change from time to time, and the information contained in this white paper or the website may be out of date as a result, and no member will and has no obligation to update or correct this white paper. document.<h3>
<h3>This white paper does not constitute any binding commitment. Please do not rely on this information to decide whether to purchase any MACKS. In addition, the White Paper or the Website may be modified or replaced from time to time. We have no obligation to update the white paper or website or to provide recipients with access to any information other than that provided herein.<h3>
	<!-- Footer -->
	<footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted" style="text-align:right;">
					© 2023 by MACKS. All rights reserved!
			</div>
    </div>
  </footer>

</body>

</html>
